<?xml version="1.0"?>

<model>
  <name>StraightSquareOneSideOpen Road</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Miguel Esparza</name>
    <email>esparzarse@gmail.com</email>
  </author>

  <description>
    Carretera recta con borde solo por un lado cuadrada para el circuito limo simulation table
  </description>
</model>
